{% extends 'base.html' %}

{% block content %}
<h2>To-Do List</h2>

<div class="filters" style="margin-bottom: 15px;">
    <a href="?filter=all" 
       class="{% if filter == 'all' %}active-filter{% endif %}">전체</a> |
    <a href="?filter=active"
       class="{% if filter == 'active' %}active-filter{% endif %}">미완료</a> |
    <a href="?filter=completed"
       class="{% if filter == 'completed' %}active-filter{% endif %}">완료</a>
</div>

<ul>
    {% for task in tasks %}
        <li>
            <div>
                <form action="{% url 'task_toggle' task.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input type="checkbox" onchange="this.form.submit()" {% if task.is_completed %}checked{% endif %}>
                </form>
                
                {% if task.is_completed %}
                    <span style="text-decoration: line-through; color: gray;">
                        {{ task.title }}
                    </span>
                {% elif task.deadline and task.deadline < today %}
                    <span style="color:red; font-weight:bold;">
                        {{ task.title }}
                    </span>
                {% else %}
                    {{ task.title }}
                {% endif %}

                {% if task.deadline %}
                    <span style="color:#888; font-size:0.9rem;">
                        (마감일 {{ task.deadline }})
                    </span>
                {% endif %}

                {% if task.dday != None %}
                    {% if task.dday < 0 %}
                        <span style="color:red; font-size:0.9rem;">
                            D{{ task.dday }}
                        </span>
                    {% elif task.dday == 0 %}
                        <span style="color:orange; font-size:0.9rem;">
                            D-Day
                        </span>
                    {% else %}
                        <span style="color:green; font-size:0.9rem;">
                            D-{{ task.dday }}
                        </span>
                    {% endif %}
                {% endif %}
            </div>

            <div>
                <a href="{% url 'task_edit' task.pk %}" class="btn btn-secondary">수정</a>
                <form action="{% url 'task_delete' task.pk %}"
                    method="POST"
                    onsubmit="return confirm('정말 삭제할까요?');"
                    style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </div>
        </li>
    {% empty %}
        <li>아직 할 일이 없습니다.</li>
    {% endfor %}
</ul>

<hr>

<h3>새 할 일 추가</h3>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="할 일 입력">

    <input type="date" name="deadline" style="margin-left:10px;">

    <button type="submit" class="btn-plus">추가</button>
</form>
{% endblock %}