body {
    font-family: "Noto Sans KR", sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 12px 10px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 입력창 */
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* 버튼 공통 */
a.btn, button.btn {
    display: inline-block;
    padding: 8px 8px;     /* 버튼 크기 */
    border-radius: 6px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

a.btn:hover, button.btn:hover {
    opacity: 0.9;
}
/* 버튼 색상 */
.btn-primary {
    background-color: #4caf50;
}

.btn-primary:hover {
    background-color: #449d48;
}

.btn-secondary {
    background-color: #888;
}

.btn-danger {
    background-color: #e74c3c;
}

.btn-plus{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    display: inline-block;
    background-color: #4caf50;
    vertical-align: middle;
    line-height: 0.85;
    margin-top: 1.9px;
    margin-bottom: 1.4px;
}

.btn-cancle{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    display: inline-block;
    background-color: #888;
    vertical-align: middle;
    line-height: 0.85;
    margin-top: 1.9px;
    margin-bottom: 1.4px;
}